.mt2 {
  margin-top: 1rem;
}

.mt3 {
  margin-top: 1.5rem;
}

.mb1 {
  margin-bottom: 0.5rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.mb3 {
  margin-bottom: 1.5rem;
}

.pl2 {
  padding-left: 1rem;
}

.fontWeightBold {
  font-weight: bold;
}

.fontSize0875 {
  font-size: 0.875rem;
}

.flexColumnGap1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stepListWrapper {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
